body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}


.header {
  background-color: black;
  width: 100%;
  padding: 20px 0;
}
.header a {
  color: bisque;
  text-decoration: none;
  font-size: 20px;
  margin: 0 15px;
}